body {
	background-color: black;	
}

.namePet {
	color: white;
	font-family: 'Creepster', cursive;
}

.background {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url('img/Background.jpg');
	width: 1000px;
	height: 525px;
	background-repeat: no-repeat;
	border-bottom: 5px solid grey
}

.stat-points {
	text-align: right;
	color: white;
	margin-right: 20px;
}

button {
	font-family: 'Creepster', cursive;
	font-size: 15px;
	background-color: 
}

.name {
	color: white;
	font-size: 25px;
	font-family: 'Creepster', cursive;
}

.container1 {
	display: flex;

}

.stats {
	margin-right: 20px;
	color: black;
	margin-top: 15px;
	border: 2px solid red;
	background-color: rgb(0, 255, 0);
	font-family: 'Creepster';
}

.container2 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.age {
	text-align: right;
	color: black;
	font-family: 'Creepster';font-family:
}

.feed {
	padding-right: 15px;
	height: 25px;
	text-align: center;
	background-color: rgb(0,255,0);
	border: solid 2px red;
	font-family: 'Creepster', cursive;

}

.petImage {
	align-content: center;
}

.rest {
	padding-right: 15px;
	height: 25px;
	text-align: center;
	background-color: rgb(0,255,0);
	border: solid 2px red;
	font-family: 'Creepster', cursive;
}

.play {
	padding-right: 15px;
	height: 25px;
	text-align: center;
	background-color: rgb(0,255,0);
	border: solid 2px red;
	font-family: 'Creepster', cursive;
}

.timer {
	display: flex;
	font-family: 'Creepster';
}

.time {
	font-size: 25px;
	color: white;
	font-family: 'Creepster';
}

span {
	color: black;
	text-transform: bold;
}

.aliveImage {
	width: 150px;
	height: 80px;
	align-self: baseline;
}

.deadImage {
	width: 200px;
	height: 255px;
	align-self: baseline;
}

.playImage {
	width: 250px;
	height: 255px;
	align-self: baseline;
}

.morphImage {
	width: 175px;
	height: 175px;
	align-self: baseline;
}

.wrapper {
	display: flex;
	justify-content: space-around;
}

.Venom {
	font-family: 'Creepster', cursive;
	color: black;
	font-size: 25px;
	border: 2px solid red;
	background-color: rgb(0,255,0);
}

.start {
	margin-top: 5px;
}