body {
	display: flex;
	background-color: black;
	background-image: url('img/Background.jpg');
	background-repeat: no-repeat;
	background-clip: border-box;
	
}

.container1 {
	display: flex-box;
	justify-content: center;
}


.namePet {
	color: white;
}

.background {
}